<div *ngIf="!loading" class="duty-detail">

  <h3>Duty Detail</h3>

  <form [formGroup]="dutyForm" (ngSubmit)="onSubmit()">

    <p class="duty-detail--item">
      <mat-form-field color="primary">
        <mat-label>Id</mat-label>
        <input class="form-control"
               placeholder="Id"
               matInput
               formControlName="id"
               name="id">
        <mat-hint>Type an identificator</mat-hint>
        <mat-error *ngIf="id.errors?.required">Required field</mat-error>
        <mat-error *ngIf="id.errors?.minlength">5 chars at least are required</mat-error>
        <mat-error *ngIf="id.errors?.maxlength">No more than 10 chars are allowed</mat-error>
      </mat-form-field>
    </p>

    <p class="duty-detail--item">
      <mat-form-field color="primary">
        <mat-label>Name</mat-label>
        <input class="form-control"
               placeholder="Name"
               matInput
               formControlName="name"
               name="name">
        <mat-hint>Type a name</mat-hint>
        <mat-error *ngIf="name.errors?.required">Required field</mat-error>
        <mat-error *ngIf="name.errors?.minlength">5 chars at least are required</mat-error>
        <mat-error *ngIf="name.errors?.maxlength">No more than 250 chars are allowed</mat-error>
      </mat-form-field>
    </p>

    <hr>
    <div class="duty-detail--buttons">
      <button type="submit"
              mat-flat-button
              color="warn"
              routerLink="/"
              class="btn btn-danger">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
      <button type="submit"
              mat-flat-button
              color="primary"
              *ngIf="!loading"
              [disabled]="dutyForm.invalid">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>

  </form>
</div>
