.container {
  margin: 30px auto;
  display: grid;

  grid-template-rows: 100px 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;

  grid-template-areas: "head head head"
                       "content content content";

  & > * {
    padding: 20px;
    font-size: 30px;
  }

  .header {
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .content {
    grid-area: content;
  }

}
