.duty-creation {
  padding: 1em;
  margin-left: 2em;
  text-align: center;

  &--item {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &--buttons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }
}
