.duties-table {

  &--creation-action {
    display: flex;
    justify-content: flex-end;
  }

  table {
    width: 100%;

    th {
      font-size: 1rem;
    }

    tr {
      cursor: pointer;
    }

    .mat-row:hover {
      background-color: #8fbc8f;
    }
  }

  &__no-data {
    background-color: #8fbc8f;
    font-size: 1rem;
    padding: 2rem;
    text-align: center;
  }

  &__title {
    font-weight: 700;

    &:nth-child(1), &:nth-child(2) {
      color: #228b22;
    }
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }
}
