<article class="duties-table">
  <div class="duties-table--creation-action">
    <button
      mat-flat-button
      color="primary"
      routerLink="creation">
      <mat-icon>add</mat-icon>
      Create
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" *ngIf="displayedColumns && displayedColumns.length > 0" matSort>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]=column.value>
      <th mat-header-cell *matHeaderCellDef class="duties-table__title"
          mat-sort-header> {{ column.displayedText  }} </th>
      <ng-container>
        <td mat-cell *matCellDef="let element"> {{ element[column.value] }} </td>
      </ng-container>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: columns;"
        (click)="detail(row)">
    </tr>
  </table>

  <div *ngIf="noData && !loading" class="duties-table__no-data">
    No Data available
  </div>

  <div *ngIf="!noData && !loading">
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 30]"></mat-paginator>
  </div>

  <div *ngIf="loading" class="duties-table__spinner">
    <mat-spinner></mat-spinner>
  </div>

</article>
