<div class="dialog">
  <div class="header">
    <div *ngIf="title" class="title" mat-dialog-title>
      <p class="title-text">{{title | translate}}</p>
      <span class="top-actions">
        <button (click)="alternativeButton()"
                *ngIf="alternativeButtonIcon && alternativeButtonAction.observers.length > 0" mat-icon-button>
          <div class="container">
            <mat-icon svgIcon='{{alternativeButtonIcon}}'></mat-icon>
          </div>
        </button>
        <button (click)="close()" *ngIf="closeButtonAction.observers.length > 0" mat-icon-button>
          <div class="container">
            <img src="assets/icons/close-green.png">
          </div>
        </button>
      </span>
    </div>
    <div *ngIf="subtitle" class="subtitle">
      <p> {{subtitle | translate}} </p>
      <button (click)="subtitleButton()" *ngIf="subtitleAction.observers.length > 0" color="primary"
              mat-flat-button>{{subtitleButtonText | translate}}</button>
    </div>
  </div>
  <mat-dialog-content cdkFocusInitial>
    <ng-content></ng-content>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="bottom-actions">
      <button (click)="backButton()" *ngIf="backButtonAction.observers.length > 0 && backButtonText"
              [disabled]="backButtonDisabled || rightButtonLoading || leftButtonLoading"
              color="primary" id="back-button"
              mat-button>
        {{backButtonText|translate}}
      </button>
      <button (click)="leftButton()" *ngIf="leftButtonAction.observers.length > 0 && leftButtonText"
              [disabled]="leftButtonDisabled || rightButtonLoading || leftButtonLoading" class="left-button"
              color="primary" id="left-button"
              mat-button>
        <app-loading *ngIf="leftButtonLoading" [diameter]="20" [strokeWidth]="4" class="loading"></app-loading>
        {{leftButtonText|translate}}
      </button>
      <button (click)="rightButton()" *ngIf="rightButtonAction.observers.length > 0 && rightButtonText"
              [disabled]="rightButtonDisabled || rightButtonLoading || leftButtonLoading" class="right-button"
              color="primary" id="right-button"
              mat-flat-button>
        <app-loading *ngIf="rightButtonLoading" [diameter]="20" [strokeWidth]="4" class="loading"></app-loading>
        {{rightButtonText|translate}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
