@import "../../../styles";

div.dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    margin: 0;

    .title {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;

      .title-text {
        font-size: 21px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.2px;
        color: $color_black;
        margin: 0;
        padding: 0;
      }

      &.mat-dialog-title {
        margin: 0 0 0.5em 0;
      }

      span.top-actions {
        display: inline-flex;
        height: 24px;
        width: fit-content;

        button {
          height: 24px;
          width: 24px;
          margin: 0;
          margin-left: 1.25em;
          padding: 0;

          div.container {
            vertical-align: super;
            display: inline-flex;
            width: fit-content;
            padding: 0;

            img {
              height: 24px;
              width: 24px;
            }
          }
        }
      }

      .top-actions {
        span.mat-button-wrapper {
          display: flex;
        }
      }
    }

    .subtitle {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      margin-bottom: 10px;

      p {
        font-size: 14px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.25px;
        color: $color_black;
      }

      div {
        line-height: 1em;
        vertical-align: middle;
        width: fit-content;
        margin: 0;
      }

      button {
        font-size: 14px;
        vertical-align: middle;
        line-height: 1.5em;
        height: 1.5em;
        margin: 0;
        padding: 0 0.2em;
        cursor: pointer;
      }
    }
  }

  mat-dialog-content {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-height: unset;
  }

  mat-dialog-actions {
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 0;

    button {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 1.25px;
      text-align: center;

      &.right-button, &.left-button {
        .loading {
          display: inline-flex;
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          margin: auto;
        }
      }

    }
  }
}
